<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Common.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CommonTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Flashcards.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FlashcardsRedux.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Promises (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Promises (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Promises (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>552670D9271D49DB001DB1A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553201462705BF6000D3EDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553201562705BF6200D3EDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>553201602705BF6200D3EDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554B428C271E05A3003E1ED8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55517B01271C5475005C8D12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55517B2C271C568F005C8D12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
